@use "@shared/styles/variables/animations" as animations;

@mixin default-hover-transition {
  transition-property: all;
  transition-duration: animations.$default-transition-duration;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}