// Widgets

$color-widget-bg-light: linear-gradient(90deg, rgba(145, 243, 194, 1) 0%, rgba(105, 105, 255, 1) 53%, rgba(0, 0, 0, 1) 100%);
$color-widget-bg-dark: linear-gradient(90deg, rgba(145, 243, 194, 1) 0%, rgba(105, 105, 255, 1) 53%, rgba(0, 0, 0, 1) 100%);

$color-widget-pr-light: #181818;
$color-widget-pr-dark: #181818;

$color-widget-pr-var-light: #181818;
$color-widget-pr-var-dark: #181818;

$color-widget-sc-light: #1E1E1E;
$color-widget-sc-dark: #1E1E1E;

$color-widget-sc-var-light: #1E1E1E;
$color-widget-sc-var-dark: #1E1E1E;

// Text

$color-text-fg-pr-light: #FFFFFF;
$color-text-fg-pr-dark: #FFFFFF;

$color-text-fg-light: #FFFFFF;
$color-text-fg-dark: #FFFFFF;

$color-text-sc-light: #969696;
$color-text-sc-dark: #969696;

$color-text-sc-var-light: #D5D5D5;
$color-text-sc-var-dark: #D5D5D5;

$color-text-suc-light: #58CA71;
$color-text-suc-dark: #58CA71;

$color-text-att-light: #FF5500;
$color-text-att-dark: #FF5500;

$color-text-err-light: #ff0000;
$color-text-err-dark: #ff0000;

$color-text-ln-light: #00ccff;
$color-text-ln-dark: #00ccff;

$color-button-fg-light: #D4FF1B;
$color-button-fg-dark: #D4FF1B;

$color-button-pr-light: #202020;
$color-button-pr-dark: #202020;

$color-button-sc-light: #202020;
$color-button-sc-dark: #202020;

// Icons & charts

$color-icon-fg-light: #FF7300;
$color-icon-fg-dark: #FF7300;

$color-icon-pr-light: #FFFFFF;
$color-icon-pr-dark: #FFFFFF;

$color-icon-sc-light: #939393;
$color-icon-sc-dark: #939393;