$color-primary-light: #e0944b;
$color-primary-dark: #e0944b;

$color-secondary-light: #e7c9ab;
$color-secondary-dark: #e7c9ab;

$color-success-light: #76e070;
$color-success-dark: #76e070;

$color-attention-light: #e0cf70;
$color-attention-dark: #e0cf70;

$color-error-light: #e08870;
$color-error-dark: #e08870;

$color-on-primary-light: #f0f0f0;
$color-on-primary-dark: #f0f0f0;

$color-background-primary-light: #0f0f0f;
$color-background-primary-dark: #0f0f0f;

$color-background-secondary-light: #232323;
$color-background-secondary-dark: #232323;

$color-foreground-primary-light: #3d3d3d;
$color-foreground-primary-dark: #3d3d3d;

$color-foreground-secondary-light: #3d3d3d;
$color-foreground-secondary-dark: #3d3d3d;
