@use "./_colors" as *;

$light-theme: (
  color-widget-bg: $color-widget-bg-light,
  color-widget-pr: $color-widget-pr-light,
  color-widget-pr-var: $color-widget-pr-var-light,
  color-widget-sc: $color-widget-sc-light,
  color-widget-sc-var: $color-widget-sc-var-light,
  color-text-fg-pr: $color-text-fg-pr-light,
  color-text-fg: $color-text-fg-light,
  color-text-sc: $color-text-sc-light,
  color-text-sc-var: $color-text-sc-var-light,
  color-text-suc: $color-text-suc-light,
  color-text-att: $color-text-att-light,
  color-text-err: $color-text-err-light,
  color-text-ln: $color-text-ln-light,
  color-button-fg: $color-button-fg-light,
  color-button-pr: $color-button-pr-light,
  color-button-sc: $color-button-sc-light,
  color-icon-fg: $color-icon-fg-light,
  color-icon-pr: $color-icon-pr-light,
  color-icon-sc: $color-icon-sc-light,
);

$dark-theme: (
  color-widget-bg: $color-widget-bg-dark,
  color-widget-pr: $color-widget-pr-dark,
  color-widget-pr-var: $color-widget-pr-var-dark,
  color-widget-sc: $color-widget-sc-dark,
  color-widget-sc-var: $color-widget-sc-var-dark,
  color-text-fg-pr: $color-text-fg-pr-dark,
  color-text-fg: $color-text-fg-dark,
  color-text-sc: $color-text-sc-dark,
  color-text-sc-var: $color-text-sc-var-dark,
  color-text-suc: $color-text-suc-dark,
  color-text-att: $color-text-att-dark,
  color-text-err: $color-text-err-dark,
  color-text-ln: $color-text-ln-dark,
  color-button-fg: $color-button-fg-dark,
  color-button-pr: $color-button-pr-dark,
  color-button-sc: $color-button-sc-dark,
  color-icon-fg: $color-icon-fg-dark,
  color-icon-pr: $color-icon-pr-dark,
  color-icon-sc: $color-icon-sc-dark,
);