@use "@shared/styles/mixins/flex" as flex;
@use "@shared/styles/mixins/utils" as utils;
@use "@shared/styles/variables/sizes" as sizes;

.container {
  @include flex.stack();

  border: 1px solid var(--color-foreground-secondary);
  border-radius: sizes.$border-radius-default;
  background-color: var(--color-background-primary);
}

.total {
  @include flex.stack(10px);
  @include utils.rounded-top(sizes.$border-radius-default);

  padding: 16px;
  align-items: center;
  background-color: var(--color-background-secondary);
  border-bottom: 1px solid var(--color-foreground-secondary);
}

.total-balance {
  color: var(--color-foreground-secondary);
  font-size: 16px;
}

.balance-value {
  color: var(--color-on-primary);
  font-weight: 500;
  font-size: 30px;
}

.actions {
  @include flex.row(34px);

  padding: 22px 52px 22px 30px;
}